.list {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 50px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.wrapper {
    margin-top: 20px;
    position: relative;
}

.container {
    margin-left: 50px;
    display: flex;
    width: max-content;
    transition: all 0.5s ease;
    position: relative;
}

.list .left,
.list .right {
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.35s ease;
    z-index: 99;
}

.left {
    left: 0;
}
.right {
    right: 0;
}

.left:hover,
.right:hover {
    background-color: var(--main-color);
}

@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }
}

@media screen and (max-width: 768px) {
    .swiper-container {
        width: 768px;
    }
    .list {
        margin-top: 10px;
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .swiper-container {
        width: 1024px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper-container {
        width: 1200px;
    }
}
